<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <span class="mx-auto">
                <ul>
                  <li><a id="footer-linkedin" href="https://www.linkedin.com/in/davewiard/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a id="footer-codepen" href="https://codepen.io/davewiard/" title="CodePen" target="_blank"><i class="fa fa-codepen"></i></a></li>
                  <li><a id="footer-freecodecamp" href="https://www.freecodecamp.org/davewiard" title="freeCodePen" target="_blank"><i class="fa fa-free-code-camp"></i></a></li>
                  <li><a id="footer-github" href="https://github.com/davewiard" title="GitHub" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
              </span>
            </div> <!-- .row .mx-auto -->

            <div class="row">
              <span class="mx-auto">David Wiard &copy; 2018. All Rights Reserved</span>
            </div>
          </div> <!-- .card-body -->
        </div> <!-- .card -->
      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</footer>
