<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="false">
  <logo>
    <a id="nav-home" class="logo navbar-brand" routerLink=""><strong>Wiard</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">

      <!-- Investments Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a id="nav-investments-Investments" dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Investments<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a id="nav-investments-overview" class="dropdown-item waves-light" mdbWavesEffect routerLink="/investments/overview">Overview</a>
          <a id="nav-investments-transactions" class="dropdown-item waves-light" mdbWavesEffect routerLink="/investments/transactions">Transactions</a>
          <a id="nav-investments-new" class="dropdown-item waves-light" mdbWavesEffect routerLink="/investments/new">New Transaction</a>
        </div>
      </li>

      <!-- Media Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a id="nav-media" dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Media<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a id="nav-media-movies" class="dropdown-item waves-light" mdbWavesEffect routerLink="/media/movies">Movies</a>
          <a id="nav-media-tv" class="dropdown-item waves-light" mdbWavesEffect routerLink="/media/tv">TV</a>
        </div>
      </li>

    </ul>
  </links>
</mdb-navbar>
