/* You can add global styles to this file, and also import other style files */

@import './assets/styles/solarized.scss';

/**
 * For the "Toggle CSS Debug" button
 */
.debug-css-button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none;
  font: menu;
  color: ButtonText;
  display: inline-block;
  height: 2.9em;
  padding: 14px 25px;
  position: absolute;
  top: 64px;
}


/**
 * global site style
 */
 /*
body {
  background-color: $solarized-base03;
  color: $solarized-base0;
}

a {
  color: $solarized-base3 !important;
}

.card {
  background-color: $solarized-base02;
  color: $solarized-base0;
}

.navbar {
  background-color: $solarized-cyan;
}

.solarized-accent {
  background-color: $solarized-cyan;
}
*/
